body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 20%; 
    height: 40%; 
    display: block; 
    margin: 20px 0; 
    border: 19px solid #000000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}